=flex
    display: flex
    justify-content: space-between
    align-items: center
=center
    +flex
    justify-content: center
=btn
    border: none
    outline: none
    cursor: pointer
=mw
    max-width: 100%
    height: auto
=centerX
    left: 50%
    transform: translateX(-50%)
=centerY
    top: 50%
    transform: translateY(-50%)
=centerXY
    +centerX
    +centerY
=placeholder
    color: $dark-red
    font-family: Muli
    font-size: 17px
    font-weight: 700
    letter-spacing: -0.34px
=blog
    color: #1e1e1e
    font-size: 18px
    font-weight: 400
